/**
 * highcharts
 */

.highcharts-container {}

.highcharts-title,
.highcharts-container {
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/**
 * Select
 */

.ui-select-container .input-xs {
   font-size: inherit;
}

.ui-select-container .ui-select-match {
   font-size: inherit;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
   margin: 0 4px;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
   background-color: #62CB31;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
   background-color: #62CB31;
}

.history-form .form-group {
   position: relative;
}


/**
 * SQL
 */

pre.language-sql {
   width: 70rem;
   border-color: #DDD;
   border-left-color: rgba(98, 203, 49, 0.69);
   -webkit-box-shadow: none;
   box-shadow: none;
   border-radius: 3px;
}