body.blank {
  background-color: @color-background;
}

.login-container {
  width: 420px;
  margin:auto;
  padding-top: 6%;
}

.register-container {
  width: 720px;
  margin:auto;
  padding-top: 6%;
}

.lock-container {
  width: 420px;
  margin:auto;
  padding-top: 6%;
}

.error-container {
  width: 620px;
  margin:auto;
  padding-top: 6%;
}

.big-icon {
  font-size: 120px;
}

.error-container h1 {
  font-size: 44px;
}

.hr-login{
  margin-top:0;
  margin-left:5%;
  margin-right:5%;
  border:1px solid #ddd;
  margin-bottom:10px;
}

.highlevel-metric{
  background:#ddd;
  height:20%;
  margin:1%;
  width:30%;
  border-radius:3px;
}

.highlevel-lg-text{
  width:60%;
  font-size:80px;
}

.highlevel-sm-text{
  margin-left: 20px;
  width:30%;
  font-size:30px;
  display:inline-block;
}