[program:storm-nimbus]
command=/usr/local/storm/bin/storm nimbus
priority=4
user={{ storm_user }}
autostart=true
autorestart=true
startsecs=10
startretries=999
redirect_stderr=true
stdout_logfile=/var/log/storm/storm-nimbus.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
