<configuration debug="false">
  <property name="pattern" value="%date{ISO8601} [%thread] %-5level %logger{20} - %msg%n" />
  
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>  

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

   <!-- Storm -->
  <logger name="storm.kafka" level="WARN"/>
  <logger name="backtype.storm.daemon" level="WARN"/>
  
   <!-- ZooKeeper -->
  <logger name="org.apache.zookeeper" level="WARN"/>
  <logger name="backtype.storm.daemon.nimbus" level="INFO"/>
  
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
  <!-- org.apache.storm:storm-core:0.9.1-incubating embeds logback.xml. This mutes the warnings -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
</configuration>