/**
 * Angular Bootstrap overrides
 */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } 

.connect-button {
	height: 100%;
}

/**
 * Transitions
 */
 
.view-container[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .30;
	filter: alpha(opacity=30);
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
 * Charts
 */

#charts {
}

#chart-container {
}
