[program:zeppelin]
command={{ zeppelin_dir }}/default/bin/zeppelin.sh
priority=1
user={{ zeppelin_user }}
autostart=true
autorestart=true
startsecs=10
startretries=999
redirect_stderr=true
stdout_logfile=/var/log/zeppelin/zeppelin.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
