<div ng-controller="nggridCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div panel-tools></div>
                    Ui Grid basic example
                </div>
                <div class="panel-body">
                    <div class="gridStyle" ng-grid="gridOptions"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div panel-tools></div>
                    Ui Grid basic example
                </div>
                <div class="panel-body">
                    <div class="gridStyle" ng-grid="gridOptionsTwo"></div>
                </div>
            </div>
        </div>
    </div>
</div>
