<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
   <div ng-controller="adminController" class="content" animate-panel>
      <div class="row">
         <h1><i class="fa fa-cogs"></i> Admin</h1>
         <p class="lead">System alert and metric management</p>
      </div>
      <div class="row">
         <h3>Register Alert</h3>
         <form class="form-horizontal">
            <fieldset  ng-disabled="isSaving">
            <div class="form-group">
               <label for="alert-name" class="col-sm-2 control-label">Name</label>
               <div class="col-sm-6">
                  <input type="text" ng-model="alert.name" class="form-control" id="alert-name" placeholder="Name">
               </div>
            </div>
            <div class="form-group">
               <label for="alert-description" class="col-sm-2 control-label">Description</label>
               <div class="col-sm-6">
                  <textarea id="alert-description" ng-model="alert.description" class="form-control" rows="3" placeholder="Description"></textarea>
               </div>
            </div>
            <div class="form-group">
               <label for="alert-statement" class="col-sm-2 control-label">Statement</label>
               <div class="col-sm-6">
                  <div id="alert-statement" ng-model="alert.statement" ui-ace="{
                      useWrapMode : true,
                      showGutter: true,
                      theme:'fstream',
                      mode: 'sql',
                      onLoad: aceLoaded,
                      require: ['ace/ext/language_tools'],
                      advanced: {
                           enableBasicAutocompletion: true,
                           enableLiveAutocompletion: true
                      }                      
                   }"></div>
               </div>
            </div>            
            </fieldset>
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-outline btn-success" ng-click="registerAlert(alert)">Register</button>
               </div>
            </div>
         </form>
      </div>
      <div class="row">
         <h3>Alert Listing</h3>
         <div>
            <table datatable="ng" class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Version</th>
                     <th>Description</th>
                     <th>Statement</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="alert in state.alerts">
                     <td>{{ alert.id }}</td>
                     <td>{{ alert.version }}</td>
                     <td><h4>{{ alert.name }}</h4>{{ alert.description }}</td>
                     <td><prism class="language-sql" code="{{ alert.statement }}"></prism>
                     </td>
                     <td>
                        <div class="input-group">
                           <div class="input-group-btn">
                              <button tabindex="-1" class="btn btn-default" type="button">Edit</button>
                              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right">
                                 <li><a href="">Disable</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li><a href="">Delete</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <h3>Metric Listing</h3>
         <div>
            <table datatable="ng" class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Version</th>
                     <th>Description</th>
                     <th>Statement</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="metric in state.metrics">
                     <td>{{ metric.id }}</td>
                     <td>{{ metric.version }}</td>
                     <td><h4>{{ metric.name }}</h4>{{ metric.description }}</td>
                     <td><prism class="language-sql" code="{{ metric.statement }}"></prism>
                     </td>
                     <td>
                        <div class="input-group">
                           <div class="input-group-btn">
                              <button tabindex="-1" class="btn btn-default" type="button">Edit</button>
                              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right">
                                 <li><a href="">Disable</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li><a href="">Delete</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>