<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
   <div ng-controller="alertsCtrl" class="content" animate-panel>
      <div class="row">
         <h1><i class="fa fa-exclamation-triangle"></i> Alerts</h1>
         <p class="lead">Showing alerts in the selected time range</p>
      </div>
      <div class="row history-form">
         <form class="form-inline">
            <div class="form-group">
               <label class="sr-only" for="startTime">Start Date / Time</label>
               <input class="form-control" id="startTime" date-time-picker placeholder="Start Date / Time" ng-model="startTime">
            </div>
            <div class="form-group">
               <label class="sr-only" for="endTime">End Date / Time</label>
               <input class="form-control" id="endTime" date-time-picker placeholder="End Date / Time" ng-model="endTime">
            </div>
            <button type="submit" class="btn btn-outline btn-success" ng-click="updateAlerts()">Search</button>
         </form>
      </div>
      <div class="row m-t">
         <div>
            <table datatable="ng" class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Time</th>
                     <th>ID</th>
                     <th>Sequence Number</th>
                     <th>Broker</th>
                     <th>Alert</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="alert in alerts">
                     <td><a ng-href="#" class="hover-link" ng-click="updateTimeRange(alert.time)">{{ alert.time | date:'yyyy-MM-dd HH:mm:ss' }}</a>
                     </td>
                     <td>{{ alert.id }}</td>
                     <td>{{ alert.sequence_number }}</td>
                     <td>OANDA</td>
                     <td><code>{{ alert.data }}</code>
                     </td>
                     <td>
                        <div class="input-group">
                           <div class="input-group-btn">
                              <button tabindex="-1" class="btn btn-default" type="button">Assign</button>
                              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right">
                                 <li><a href="">Flag</a>
                                 </li>
                                 <li><a href="">Review</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li><a href="">Report</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </td>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>