<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
   <div class="content" animate-panel>
      <div class="row">
         <h1><i class="fa fa-exclamation-triangle"></i> Alerts</h1>
         <p class="lead">Recent alerts</p>
      </div>
      <div class="row">
         <div class="col-md-3">
            <div class="hpanel">
               <div class="panel-body">
                  <div class="stats-title pull-left">
                     <h4>Arbitrage</h4>
                  </div>
                  <div class="stats-icon pull-right">
                     <i class="pe-7s-attention fa-4x"></i>
                  </div>
                  <div class="m-t-xl">
                     <h1 class="text-danger">680</h1>
                     <small>
                        An <strong>arbitrage</strong> condition was detected
                     </small>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <div class="hpanel hbgred">
               <div class="panel-body">
                  <div class="text-center">
                     <h3>Scalper</h3>
                     <p class="text-big font-light">
                        52%
                     </p>
                     <small>
                        A scalper condition was detected.
                     </small>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <div class="hpanel">
               <div class="panel-body">
                  <div class="table-responsive">
                     <table class="table table-striped">
                        <thead>
                           <tr>
                              <th>Symbol</th>
                              <th>Date</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <span class="text-danger font-bold">EUR/USD</span>
                              </td>
                              <td>Jul 14, 2013</td>
                           </tr>
                           <tr>
                              <td>
                                 <span class="text-danger font-bold">USD/CAD</span>
                              </td>
                              <td>Jul 09, 2015</td>
                           </tr>
                           <tr>
                              <td>
                                 <span class="text-danger font-bold">EUR/CAD</span>
                              </td>
                              <td>Jul 24, 2014</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>