<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
   <div ng-controller="booksController" class="content" animate-panel>
      <div class="row">
         <h1><i class="fa fa-book"></i> Books</h1>
         <p class="lead">Order Book Dashboard</p>
      </div>
      <div class="row history-form">
         <form class="form-inline">
            <div class="form-group">
               <ui-select style="height: 34px; min-width: 168px" multiple ng-model="symbols.selected" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Symbols">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="symbol in availableSymbols">
                     {{symbol.name}}
                  </ui-select-choices>
               </ui-select>
            </div>
            <div class="form-group">
               <label class="sr-only" for="startTime">User ID</label>
               <input class="form-control" id="startTime" placeholder="User ID" ng-model="startTime">
            </div>
            <div class="form-group">
               <label class="sr-only" for="endTime">User Type</label>
               <input class="form-control" id="endTime" placeholder="User Type" ng-model="endTime">
            </div>            
            <button type="reset" class="btn btn-default">Clear</button>
            <button type="submit" class="btn btn-outline btn-success" ng-click="updateHistory()">Search</button>
         </form>
      </div>
      <div class="row">
         <div class="col-md-8">
            <book-chart id="order-book-chart" symbol="{{ symbol }}"></book-chart>
         </div>
         <div class="col-md-4">
            <table class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Order ID</th>
                     <th>User ID</th>
                     <th>Price</th>
                     <th>Amount</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="order in snapshot.orders">
                     <td>{{ order.oid }}</td>
                     <td>{{ order.userId }}</td>
                     <td class="text-right">{{ order.price | number:2 }}</td>
                     <td class="text-right">{{ order.amount | number }}</td>
                  </tr>                     
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-3 text-center">
            <div class="hpanel">
               <div class="panel-heading">
                  <div panel-tools></div>&emsp;
                  Top 20 Users Value              
               </div>
               <div class="panel-body text-center">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr>
                           <th>User ID</th>
                           <th>Value</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="row in top.values">
                           <td>{{ row.userId }}</td>
                           <td class="text-right">${{ row.value | number:2 }}</td>
                        </tr>                     
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-lg-3 text-center">
            <div class="hpanel">
               <div class="panel-heading">
                  <div panel-tools></div>&emsp;
                  Top 20 Users Trades              
               </div>
               <div class="panel-body text-center">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr>
                           <th>User ID</th>
                           <th>Trade</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="row in top.trades">
                           <td>{{ row.userId }}</td>
                           <td class="text-right">{{ row.value | number }}</td>
                        </tr>                     
                     </tbody>
                  </table>
               </div>
            </div>
         </div>  
         <div class="col-lg-3 text-center">
            <div class="hpanel">
               <div class="panel-heading">
                  <div panel-tools></div>&emsp;
                  Top 20 Users Orders              
               </div>
               <div class="panel-body text-center">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr>
                           <th>User ID</th>
                           <th>Order</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="row in top.orders">
                           <td>{{ row.userId }}</td>
                           <td class="text-right">{{ row.value | number }}</td>
                        </tr>                     
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-lg-3 text-center">
            <div class="hpanel">
               <div class="panel-heading">
                  <div panel-tools></div>&emsp;
                  Top 20 O/T Ratio            
               </div>
               <div class="panel-body text-center">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr>
                           <th>User ID</th>
                           <th>O/T</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="row in top.ratios">
                           <td>{{ row.userId }}</td>
                           <td class="text-right">{{ row.value | number:2 }}</td>
                        </tr>                     
                     </tbody>
                  </table>
               </div>
            </div>
         </div>         
      </div>      
   </div>
</div>