<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="dashboardController">
   <div class="content" animate-panel effect="fadeIn">
      <div class="row">
         <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
         <p class="lead">System overview</p>         
      </div>
      <div class="row">
         <div class="col-lg-3 text-center highlevel-metric">
            <span class="highlevel-lg-text">{{ alertCount }}</span>
            <span class="highlevel-sm-text">Incoming Alerts</span>
         </div>
         <div class="col-lg-3 text-center highlevel-metric">
            <span class="highlevel-lg-text">{{ eventRate | number:0 }}/s</span>
            <span class="highlevel-sm-text">Incoming Events</span>
         </div>
         <div class="col-lg-3 text-center highlevel-metric">
            <span class="highlevel-lg-text">{{ timeDelay | number:2 }} s</span>
            <span class="highlevel-sm-text">Time Delay</span>
         </div>
      </div>
      <div class="row">
         <hr>
      </div>
      <div class="row">
         <div class="col-sm-3 text-center app" ui-sref="charts">
            <span class="highlevel-lg-text"><i class="fa fa-line-chart fa-1x"></i></span>
            <br>
            <span class="app-text">CHARTS</span>
         </div>
         <div class="col-xs-6 col-sm-3  text-center app" ui-sref="books">
            <span class="highlevel-lg-text"><i class="fa fa-book fa-1x"></i></span>
            <br>
            <span class="app-text">BOOKS</span>
         </div>         
         <div class="col-xs-6 col-sm-3  text-center app" ui-sref="alerts">
            <span class="highlevel-lg-text"><i class="fa fa-exclamation-triangle fa-1x"></i></span>
            <br>
            <span class="app-text">ALERTS</span>
         </div>
         <div class="col-xs-6 col-sm-3  text-center app" ui-sref="history">
            <span class="highlevel-lg-text"><i class="fa fa-clock-o fa-1x"></i></span>
            <br>
            <span class="app-text">HISTORY</span>
         </div>
         <div class="col-lg-6 text-center app" ui-sref="admin">
            <span class="highlevel-lg-text"><i class="fa fa-cogs fa-1x"></i></span>
            <br>
            <span class="app-text">ADMIN</span>
         </div>
         <div class="col-lg-6 text-center app" ui-sref="analytics">
            <span class="highlevel-lg-text"><i class="fa fa-search fa-1x"></i></span>
            <br>
            <span class="app-text">ANALYTICS</span>
         </div>         
      </div>
   </div>
</div>