<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div ng-controller="historyCtrl" class="content" animate-panel>
        <div class="row">
            <h1><i class="fa fa-clock-o"></i> History</h1>
            <p class="lead">Showing events in the selected time range</p>
        </div>
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="startTime">Start Date / Time</label>
                    <input class="form-control" id="startTime" placeholder="Start Date / Time" ng-model="startTime">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="endTime">End Date / Time</label>
                    <input class="form-control" id="endTime" placeholder="End Date / Time" ng-model="endTime">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="symbol">Symbol</label>
                    <input class="form-control" id="symbol" placeholder="Symbol" ng-model="symbol">
                </div>                
                <button type="submit" class="btn btn-default" ng-click="submit()">Filter</button>
            </form>
        </div>
        <div class="row m-t">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Symbol</th>
                                    <th>Ask</th>
                                    <th>Bid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rate in history track by $index">
                                    <td><a href="#">{{rate.points[0][0] | date:'yyyy-MM-dd HH:mm:ss Z' }}</a>
                                    </td>
                                    <td>{{rate.name}}</td>
                                    <td>{{rate.points[0][2] | number:4}}</td>
                                    <td>{{rate.points[0][3] | number:4}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    Total - <b>{{history.length}}</b> events
                </div>
            </div>
        </div>
    </div>
</div>