<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
   <div class="content" animate-panel>
      <div class="row">
         <h1><i class="fa fa-arrow-right"></i> Streams</h1>
         <p class="lead">Showing <b>{{ rates.length }}</b> events for <b>{{ state.symbols.length }}</b> registered streams</p>
      </div>
      <div class="row">
         <div id="rates"><prism ng-repeat="rate in rates" class="language-javascript" code="{{ rate | json }}"></prism></div>
      </div>
   </div>
</div>