<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="content" animate-panel effect="zoomIn">
<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            Welcome to FStream
        </h2>

        <p>
            This is an <strong>app</strong> for you.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 ">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Interesting Chart #1
            </div>
            <div class="panel-body text-center">
                <div class="row text-center">
                    <div class="text-center">
                        <div class="small">
                           Small Title
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                big title
                            </h1>
                            <small>how many titles does one box need? probably not 2</small>
                        </div>
                        <div class="small m-t-xl">
                            <i class="fa fa-clock-o"></i> Data from January
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                    <span class="pull-right">
                          look away
                    </span>
                who reads the footer?
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-6 ">
      <div class="hpanel">
          <div class="panel-heading">
              <div panel-tools></div>
              Sorta Less Interesting Chart #2
          </div>
          <div class="panel-body text-center">
              <div class="row text-center">
                  <div class="text-center">
                      <div class="small">
                         Small Title
                      </div>
                      <div>
                          <h1 class="font-extra-bold m-t-xl m-b-xs">
                              Why did the chicken cross the road?
                          </h1>
                          <small>To get to the other side</small>
                      </div>
                      <div class="small m-t-xl">
                          <i class="fa fa-clock-o"></i> Data from January
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel-footer">
                  <span class="pull-right">
                        look away
                  </span>
              who reads the footer?
          </div>
      </div>
  </div>
  <div class="col-lg-6 ">
      <div class="hpanel">
          <div class="panel-heading">
              <div panel-tools></div>
              Sorta Less Interesting Chart #3
          </div>
          <div class="panel-body text-center">
              <div class="row text-center">
                  <div class="text-center">
                      <div class="small">
                         Small Title
                      </div>
                      <div>
                          <h1 class="font-extra-bold m-t-xl m-b-xs">
                              Move along, move along
                          </h1>
                          <small>WHY ARE MY EVENTS NOT WORKING</small>
                      </div>
                      <div class="small m-t-xl">
                          <i class="fa fa-clock-o"></i> Data from January
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel-footer">
                  <span class="pull-right">
                        look away
                  </span>
              who reads the footer?
          </div>
      </div>
  </div>
</div>
</div>
</div>
