<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="content" animate-panel effect="zoomIn">
<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            Welcome to FStream
        </h2>

        <p>
            This is an <strong>app</strong> for you.
        </p>
    </div>
</div>
<div class="row">
  <div ng-repeat="view in views" ng-switch="view.type" class="view">
    <div class="col-lg-6 text-center">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Interesting Chart #1
            </div>
            <div class="panel-body text-center">
                <div ng-controller="chartController">
                <metric-chart ng-switch-when="metric-chart" options="view"></metric-chart>
                <tick-chart ng-switch-when="tick-chart" options="view"></tick-chart>
               </div>
            </div>
            <div class="panel-footer">
                    <span class="pull-right">
                          look away
                    </span>
                who reads the footer?
            </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>
