<configuration debug="false">
  <property name="pattern" value="%date{ISO8601} [%thread] %-5level %logger{200} - %msg%n" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>
  
  <!--  QuickFIX/J -->
  <logger name="quickfix" level="WARN"/>
  <logger name="quickfixj.event" level="WARN"/>
  <logger name="quickfixj.msg.outgoing" level="WARN"/>
  <logger name="quickfixj.msg.incoming" level="WARN"/>
  <logger name="org.quickfixj" level="WARN"/>
  <logger name="org.apache.mina" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>