[program:{{ fstream_module }}]
environment=HADOOP_USER_NAME=hdfs
command=java
   -cp /usr/local/{{ fstream_module }}-{{ fstream_version }}/conf:/usr/local/{{ fstream_module }}-{{ fstream_version }}/lib/{{ fstream_module }}-{{ fstream_version }}.jar 
   {{ main_class }} 
   --server.port={{ http_port }} 
   --influxdb.host={{ influxdb_host }} 
   --influxdb.port={{ influxdb_port }} 
   --zk.connect={{ zookeeper_connect }} 
   --kafka.broker.list={{ kafka_broker_list }}
   --storm.local=false 
   --storm.nimbus.host={{ storm_nimbus_host }} 
   --feed.password={{ fstream_feed_password }} 
   --hadoop.properties.fs.defaultFS={{ hdfs_namenode_host }}  
   --spark.master={{ spark_master_host }}
priority={{ priority }}
user={{ fstream_user }}
autostart=true
autorestart=true
startsecs=10
startretries=999
redirect_stderr=true
stdout_logfile=/var/log/{{ fstream_module }}/{{ fstream_module }}.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
