<div ng-controller="chartController">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Rates</h3>
		</div>
		<div class="panel-body" id="charts"></div>
	</div>
	<!-- 
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Commands</h3>
		</div>
		<div class="panel-body" id="commands"></div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Rates</h3>
		</div>
		<div class="panel-body" id="rates"></div>
	</div>
	 -->
</div>
