<div class="container">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">fStream Web</a>
   </div>
   <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-left">
         <button type="button" class="btn btn-success glyphicon glyphicon-off connect-button" id="connect" ng-show="!connected" ng-click="connect();"></button>
         <button type="button" class="btn btn-danger glyphicon glyphicon-off connect-button" id="disconnect" ng-show="connected" ng-click="disconnect();"></button>

          <ui-select ng-model="$parent.instrument" ng-show="connected" theme="bootstrap" style="display: inline-block; width: 200px">
            <ui-select-match placeholder="Select an instrument...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in instruments | filter: $select.search">
              <div ng-bind-html="item | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
      </form>
      <form class="navbar-form navbar-right" role="form" ng-visible="false">
         <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
         </div>
         <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
         </div>
         <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
   </div>
</div>
