<div class="container" ng-cloak>
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">fstream</a>
   </div>
   <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-left">
         <button type="button" class="btn btn-success glyphicon glyphicon-off connect-button" id="connect" ng-show="!connected" ng-click="connect();"></button>
         <button type="button" class="btn btn-danger glyphicon glyphicon-off connect-button" id="disconnect" ng-show="connected" ng-click="disconnect();"></button>
      </form>
   </div>
</div>
