<div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">fStream Web</a>
         </div>
         <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left">
               <button type="button" class="btn btn-success glyphicon glyphicon-off connect-button" id="connect" ng-show="!connected" ng-click="connect();"></button>
               <button type="button" class="btn btn-danger glyphicon glyphicon-off connect-button" id="disconnect" ng-show="connected" ng-click="disconnect();"></button>
               <div class="btn-group" dropdown is-open="status.isopen">
                  <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                     Instrument <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     <li ng-repeat="item in instruments" value="{{item}}"><a href="#">{{item}}</a></li>
                  </ul>
               </div>
               <div class="form-group" ng-visible="connected && false">
                  <input type="text" class="form-control" placeholder="Instrument" id="instrument">
                  <a class="btn btn-primary" role="button" ng-click="register();">Register &raquo;</a>
               </div>
            </form>
            <form class="navbar-form navbar-right" role="form" ng-visible="false">
               <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
               </div>
               <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
               </div>
               <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
         </div>
      </div>