<div class="view-container" ng-disabled="!connected">
	<!-- Nav tabs -->
	<tabset>
       <tab heading="Charts" select="enableChart()" deselect="disableChart()" ng-controller="chartController">
         <div ng-repeat="view in views" ng-switch="view.type" class="view">
       	  <metric-chart ng-switch-when="metric-chart" options="view"></metric-chart>
       	  <tick-chart ng-switch-when="tick-chart" options="view"></tick-chart>
       	  <alert-log ng-switch-when="alert-log"></alert-log>
         </div>
       </tab>
       <tab heading="Rates">
          <div id="rates"><pre ng-repeat="rate in rates">{{ rate | json }}</pre></div>
       </tab>
       <tab heading="Alerts">
          <div id="alerts" ng-controller="alertController">
            <tabset>
	            <tab heading="Log">
						<table ng-table="tableParams" show-filter="true" class="table">
							<tr ng-repeat="alert in data">
								<td data-title="'Time'">{{ alert.dateTime | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
								<td data-title="'ID'">#{{ alert.id }}</td>
								<td data-title="'Data'" filter="{ 'data': 'text' }"><pre>{{ alert.data | json }}</pre></td>
							</tr>
						</table>   
	            </tab>
	            <tab heading="Definitions">
		            <div ng-repeat="alert in state.alerts">
		              <h4>{{ alert.name }} (#{{ alert.id }})</h4><br>
		              <blockquote>{{ alert.description }}</blockquote>
		              <epl statement="{{ alert.statement }}"></epl>
		              <hr>
		            </div>
	            </tab>
               <tab heading="New">
                  <form>
                     <label>Name:</label>
                     <br>
                     <input type="text" ng-model="newAlert.name">
                     <br>
                     <label>Description:</label>
                     <br>
                     <textarea rows="3" cols="80" ng-model="newAlert.description"></textarea>
                     <br>
                     <label>Statement:</label>
                     <br>
                     <textarea rows="10" cols="80" ng-model="newAlert.statement"></textarea>
                     <br>
                     <button type="button" class="btn btn-success" ng-click="registerAlert()">Register</button>
                  </form>
               </tab>          
				</tabset>    
          </div>
       </tab>
    </tabset>
</div>

