<div class="view-container" ng-disabled="!connected">
	<!-- Nav tabs -->
	<tabset>
       <tab heading="Charts" >
       	  <div id="charts" ng-controller="chartController">
       	  	<div id="chart-container"></div>
       	  </div>
       </tab>
       <tab heading="Commands">
          <div id="commands"></div>
       </tab>
       <tab heading="Rates">
          <div id="rates"></div>
       </tab>
       <tab heading="Alerts">
          <div id="alerts">
			<table ng-table="tableParams" show-filter="true" class="table">
				<tr ng-repeat="alert in $data">
					<td data-title="'Time'">{{ alert.dateTime }}</td>
					<td data-title="'Message'" filter="{ 'message': 'text' }">{{ alert.message }}</td>
				</tr>
			</table>       
          </div>
       </tab>
    </tabset>
</div>
