<div class="view-container" ng-disabled="!connected">
	<!-- Nav tabs -->
	<tabset>
       <tab heading="Charts" select="enableChart()" deselect="disableChart()" ng-controller="chartController">
       	  <tick-chart ng-repeat="options in tickCharts" options="options"></tick-chart>
       </tab>
       <tab heading="Commands">
          <div id="commands"><pre ng-repeat="command in commands">{{ command | json }}</pre></div>
       </tab>
       <tab heading="Rates">
          <div id="rates"><pre ng-repeat="rate in rates">{{ rate | json }}</pre></div>
       </tab>
       <tab heading="Alerts">
          <div id="alerts" ng-controller="alertController">
				<table ng-table="tableParams" show-filter="true" class="table">
					<tr ng-repeat="alert in data">
						<td data-title="'Time'">{{ alert.dateTime | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
						<td data-title="'Data'" filter="{ 'data': 'text' }"><pre>{{ alert.data | json }}</pre></td>
					</tr>
				</table>       
          </div>
       </tab>
    </tabset>
</div>
