<div id="logo" class="light-version">
   <img width="150px" src="../../images/fstream-2.png" ui-sref="login">
</div>
<nav role="navigation" ng-controller="loginController">
   <minimaliza-menu></minimaliza-menu>
   <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
         <li class="dropdown" dropdown>
            <a class="dropdown-toggle" href="#" dropdown-toggle>
               <i class="pe-7s-speaker"></i>
            </a>
            <ul class="dropdown-menu hdropdown notification animated fadeIn">
               <li>
                  <a>
                     <span class="label label-success">NEW</span> Arbitrage detected
                  </a>
               </li>
               <li class="summary"><a href="#">See all notifications</a>
               </li>
            </ul>
         </li>
         <li class="dropdown" dropdown>
            <a class="dropdown-toggle label-menu-corner" href="#" dropdown-toggle>
               <i class="pe-7s-mail"></i>
               <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu hdropdown animated fadeIn">
               <div class="title">
                  You have 4 new tickets
               </div>
               <li>
                  <a>
                     Aribitrage detected!
                  </a>
               </li>
               <li class="summary"><a href="#">See All Tickets</a>
               </li>
            </ul>
         </li>
         <li class="dropdown">
            <a ng-click="logout()">
               <i class="pe-7s-upload pe-rotate-90"></i>
            </a>
         </li>
         <li class="dropdown">
            <a style="font-size:15px">
               <i class="fa fa-circle server-status" ng-class="{'server-connected': connected, 'server-disconnected': !connected}"></i>
            </a>
         </li>
      </ul>
   </div>
</nav>