<div id="navigation">
   <ul side-navigation class="nav" id="side-menu">
      <li ui-sref-active="active">
         <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
      </li>
      <li ui-sref-active="active">
         <a ui-sref="charts"> <span class="nav-label">Charts</span></a>
      </li>
      <li ui-sref-active="active">
         <a ui-sref="books"> <span class="nav-label">Books</span></a>
      </li>      
      <li ui-sref-active="active">
         <a ui-sref="alerts"><span class="nav-label">Alerts</span></a>
      </li>
      <li ui-sref-active="active">
         <a ui-sref="analytics"><span class="nav-label">Analytics</span></a>
      </li>      
      <li ui-sref-active="active">
         <a ui-sref="history"> <span class="nav-label">History</span></a>
      </li>
      <li ui-sref-active="active">
         <a ui-sref="admin"> <span class="nav-label">Admin</span></a>
      </li>
   </ul>
</div>