<div id="navigation">
   <ul side-navigation class="nav" id="side-menu">
      <li ui-sref-active="active">
         <a ui-sref="charts"> <span class="nav-label">Charts</span></a>
      </li>
      <li>
         <a ui-sref="streams"> <span class="nav-label">Streams</span></a>
      </li>
      <li>
         <a ui-sref="alerts"><span class="nav-label">Alerts</span></a>
      </li>
      <li>
         <a ui-sref="history"> <span class="nav-label">History</span></a>
      </li>
   </ul>
</div>